<h1 class="text-center my-3">{{ title }}</h1>
<div class="container d-flex justify-content-center">
  <form>
    <label for="numero1">Numero 1:</label>

    <input
      type="number"
      [(ngModel)]="numero1"
      name="numero1"
      id="numero1"
    /><br /><br />

    <label for="numero2">Numero 2:</label>
    <input type="number" [(ngModel)]="numero2" name="numero2" /><br /><br />

    <div class="d-flex justify-content-evenly">
      <input
        type="submit"
        value="Sumar"
        (click)="sumar()"
        class="btn btn-success"
      />
      <input
        type="submit"
        value="Restar"
        (click)="restar()"
        class="btn btn-danger"
      />

      <input
        type="submit"
        value="Multiplicar"
        (click)="multiplicar()"
        class="btn btn-primary"
      />

      <input
        type="submit"
        value="Dividir"
        (click)="dividir()"
        class="btn btn-info"
      />
    </div>
  </form>
</div>

<p class="text-center my-3">Resultado: {{ resultado }}</p>
